@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  box-sizing: border-box; 
}
body {
  background: #fff;
  width: 100vw;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.container{
    padding-left: 10%;
    padding-right: 10%;
}
.mybtn{
  text-decoration-line: none;
  background: #bb8237;
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
}

/* ======Media Query====== */
@media only screen and (max-width: 1200px) {
    .container{
      padding-left: 5%;
      padding-right: 5%;
    }
    .btn{
      padding: 14px 22px;
    }
}